.home-card {
    display: flex;
    justify-content: left;
    flex-direction: column;
    border: 3.5px solid black;
    border-radius: 50px;
    padding: 50px;
    background-color: cornflowerblue;
    width: 40%;
}

.home-page {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.home-btn-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-btn {
    border-radius: 25%;
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

a {
    margin-left: 5px;
}

.contact-heading {
    text-align: center;
    margin-top: 25px;
}